* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: white;
    font-family: "Calibri", Times, serif;

}

/***** CONFIGURAÇÃO DO CONTAINER ****/
#container {

    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;

}

/***** FIM CONFIGURAÇÃO DO CONTAINER ****/
/***** CONFIGURAÇÃO DO TOPO ****/
#topo-site {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #206CA6;

}

/***** FIM DA CONFIGURAÇÃO DO TOPO ****/
/***** CONFIGURAÇÃO DO LOGO DO SITE ****/
#logo {

    width: 300px;
    height: 77px;
    max-width: 350px;
    max-height: 77.44px;
    float: left;
    margin-left: 40px;
    padding-top: 10px;
    margin-right: 20px;
}

#logo img {
    position: relative;
    width: 100%;


}

/***** FIM DA CONFIGURAÇÃO DO LOGO DO SITE ****/
/***** CONFIGURAÇÃO DA REDE SOCIAIS ****/
#rede-sociais {

    width: auto;
    height: 50px;
    float: right;
    margin-right: 20px;
    padding-top: 10px;
}

/***** FIM DA CONFIGURAÇÃO DA REDE SOCIAIS ****/
/***** CONFIGURAÇÃO DO MENU DO SITE ****/
.menu_simple {
    width: 100%;
    height: 40px;
    float: left;
    margin-top: 40px;
    background-color: #022A4F;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.menu_simple ul {
    margin: 0;
    padding: 0;

}

.menu_simple ul li {
    display: inline;
}

.menu_simple ul li a {
    float: left;
    text-decoration: none;
    color: white;
    margin-left: 100px;
    background-color: #022A4F;
}

.menu_simple ul li a:visited {
    color: white;
}

.menu_simple ul li a:hover {
    color: white;
    background-color: #206CA6;
}

.menu_simple ul #home {
    margin-left: 30px;
}

.menu_simple ul:last-child {

    margin-right: 20px;

}

/***** FIM DA CONFIGURAÇÃO DO MENU DO SITE ****/
/***** CONFIGURAÇÃO DO SLIDE DO SITE ****/
#slide {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.imagem {
    max-width: 500px;
    width: 80%;
}


/***** FIM DA CONFIGURAÇÃO DO SLIDE DO SITE ****/
/***** CONFIGURAÇÃO DA CAIXA CONTEUDO ****/

.caixa-conteudo {
    width: 281px;
    height: 129px;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
}

.caixa-conteudo h3 {
    color: white;

}

.caixa-conteudo ul {
    list-style: none;
    float: left;
    color: white;

}

.caixa-conteudo ul li {
    margin-top: 10px;

}

.caixa-conteudo li a {

    text-decoration: none;
    color: white;
}

/***** FIM CONFIGURAÇÃO DA CAIXA CONTEUDO ****/
/***** CONFIGURAÇÃO DO RODAPE DO SITE ****/
#rodape-site {
    width: 100%;
    height: 300px;
    background-color: #022A4F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;



}


#rodape-site .caixa-conteudo:first-child {
    padding-left: 0;

}

#rodape-site .caixa-conteudo:last-child {
    padding-right: 20px;

}

#autor-site {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #206CA6;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

/***** FIM CONFIGURAÇÃO DO RODAPE DO SITE ****/
/***** CONFIGURAÇÃO DA DIV SOBRE ****/


#sobre {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    align-content: stretch;
    align-items: center;
    padding: 20px;

}

#foto-sobre {
    width: 100%;
    max-width: 750px;
    flex-basis: 50%;
    min-width: 400px;

}

#foto-sobre img {

    position: relative;
    width: 100%;
    height: 100%;

}

#texto-sobre {
    width: 80%;
    height: auto;
    padding-left: 30px;
    flex-basis: 50%;
    max-width: 750px;

}

/***** FIM CONFIGURAÇÃO DO SOBRE ****/

.ColaRodape {

    display: flex;
    flex-direction: column;

}


@media screen and (max-width: 767px) {
    #sobre {
        flex-direction: column;
        height: auto;

    }

    #foto-sobre {
        max-width: 400px;
        margin: 20px;
        min-width: 0px;
    }

    #texto-sobre {
        margin-bottom: 20px;
        padding-left: 0px;
    }

}


@media screen and (max-width: 537px) {

    #rodape-site {
        height: auto;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;


    }

    .caixa-conteudo {
        width: auto;
        height: auto;
        margin-left: 0px;
        margin-top: 25px;
    }

    #rodape-site .caixa-conteudo:nth-child(2) {
        padding-left: 0px;
    }

    #rodape-site .caixa-conteudo:last-child {
        margin-bottom: 25px;
        padding-left: 0px;
        padding-right: 0px;
    }

}


@media screen and (max-width: 733px) {

    .menu_simple {
        height: auto;
    }

    .menu_simple ul li {
        display: flex;
    }

    .menu_simple ul li a {
        margin-left: 20px;
        margin-top: 30px
    }

    .menu_simple ul #home {
        margin-left: 20px;

    }

    .menu_simple ul:last-child {
        margin-bottom: 30px
    }
}

#logoRede {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
}

@media screen and (max-width: 483px) {

    #logoRede {

        flex-direction: column;
        margin-top: 35px;
    }



    #logo {

        width: 95%;
        height: 95%;
        margin-left: 0px;
        padding-top: 0px;
        margin-right: 0px;
    }


    /***** FIM DA CONFIGURAÇÃO DO LOGO DO SITE ****/
    /***** CONFIGURAÇÃO DA REDE SOCIAIS ****/
    #rede-sociais {

        padding-top: 0px;
        margin-right: 0px;
        margin-top: 25px;
        flex-wrap: nowrap;
    }

    #rede-sociais img {

        height: 90%;
    }
}